.logo {
  margin: 0 auto;
  width: 26px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.app {
  padding: 0 16px;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #007bff;
}